<%- include('./partials/header.ejs') %>

<body>
    <nav class="navbars h-2px bg-zinc-800">
        <ul class="nav-links px-20">
            <li><a class="text-zinc-300" href="#">Help</a></li>
            <li><a class="text-zinc-300" href="#">Query&Feedback</a></li>
        </ul>
    </nav>
    <nav class="navbar bg-zinc-0 shadow-2xl">
        <div class="logo font-semibold flex items-center h-10 text-lime-700 ">
            <a href="#" class="flex items-center">
                <img class="w-12 h-12 mr-1"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgOjwBh_ZhxOY3Z6G0cAyyjU-p2Fs3rbot1A&s">
                <span class="mt-1">WMGMT Web</span>
            </a>
        </div>
        <ul class="nav-links text-zinc-700 font-sans px-2">
            <li clas=""><a href="#"><b>Home</b></a></li>
            <li clas=""><a href="#"><b>Request</b></a></li>
            <li clas=""><a href="/logout" class="btn-green text-semibold">Logout</a></li>

        </ul>
    </nav>
    <div class="background">

    </div>
<%- include('./partials/footer.ejs') %>